.bg-image{
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('../images/bg-desktop-dark.jpg');
  background-size: cover;
}

.card-container{
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-container header .title{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.input{
  padding: 30px 20px;
  width: 100%;
  height: 40px;
  background-color: var(--backgroundCard);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.input input[type="text"]{
  width: 90%;
  background-color: var(--backgroundCard);
  border: none;
  padding-left: 10px;
  color: var(--text);
  font-size: 16px;
  outline: none;
}

.round {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round label {
  background-color: rgba(255, 255, 255, 0.164);
  border: 1px solid rgba(94, 92, 92, 0.795);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  
  position: absolute;
  
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: hsl(280, 87%, 65%);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.body-card{
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--backgroundCard);
  box-shadow: 9px 2px 13px -1px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
}

.tarefa{
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: var(--borderColorItems);
  border-radius: 0;
}

.tarefa .delete{
  position: absolute;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
}

.tarefa:hover .delete{
  visibility: visible;
}

.input  span{
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--text);
}

.card-footer{
  padding: 30px 0;

  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--textSmall);
}

.card-footer .click{
  cursor: pointer;  
  transition: 300ms;
}

.card-footer .click:hover{
  color: var(--text);
}

.card-footer .filtro{
  display: flex;
  gap: 10px; 
}

.active{
  color: var(--primary);
  font-weight: bold;
}

.completed{
  text-decoration-line: line-through;
  text-decoration-color: var(--text);
}

.completed span{
  opacity: 0.5;
}

.footer-mobile{
  display: none;
}

@media(max-width:600px){
  .card-container{
    width: 90%;
  }

  .footer-mobile{
    background-color: var(--backgroundCard);
    box-shadow: 9px 2px 13px -1px rgba(0,0,0,0.2);
    border-radius: 10px;
    
    padding: 30px 0;
  
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--textSmall);
  }
  
  .footer-mobile .filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .card-footer .filtro{
    display: none;
  }

  .bg-image{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/bg-mobile-dark.jpg');
  }
  
}

